<nav class="navbar is-dark has-background-black-ter is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"> &nbsp; Home &nbsp; </a>
        <a class="navbar-item" href="/products"> &nbsp; For Sale &nbsp; </a>
        <a class="navbar-item" href="/users"> &nbsp; Sellers & Buyers &nbsp; </a>
        <a class="navbar-item" href="/products/new"> &nbsp; Sell Something! &nbsp; </a>
    </div>
</nav>