<nav class="navbar is-dark has-background-black-ter is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"> &nbsp; YardSale &nbsp;&nbsp; </a>
        <a class="navbar-item" href="/products"> &nbsp;&nbsp; What's For Sale &nbsp;&nbsp; </a>
        <a class="navbar-item" href="/users"> &nbsp;&nbsp; Sellers & Buyers &nbsp;&nbsp; </a>
        <a class="navbar-item" href="/reviews"> &nbsp;&nbsp; Seller Reviews &nbsp;&nbsp; </a>
        <a class="navbar-item" href="/products/new"> &nbsp;&nbsp; Sell Something! &nbsp;&nbsp; </a>
    </div>
</nav>