<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Add Seller Review'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Add a Seller Review</h2>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
             <div class="column is-two-thirds">
                <article class="card form-card has-background-grey-dark">
                     <form action="/reviews" method="POST">
                        <input type="hidden" id="reviewedSellerUser" name="reviewedSellerUser" value="<%= user._id %>">
                        <input type="hidden" id="reviewingBuyerUser" name="reviewingBuyerUser" value="<%= user._id %>">
                        <div class="field">
                              <label class="label has-text-light">Rating *</label>
                                <div class="control has-icons-right">
                                    <input class="input" type="number" min= 1 max= 5 name="rating" placeholder="Insert Rating Here" required>
                                    <span class="icon is-right">⭐️</span>
                                </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Title *</label>
                            <div class="control">
                                <input class="input" type="text" name="title" placeholder="Insert Title Here" required>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Comments </label>
                            <div class="control">
                                <input class="input" type="text" name="content" placeholder="Write comments here">
                            </div>
                        </div>
                        <div>
                            <h5 class="has-text-light"> * Required</h5>
                        </div>
                        <div class="field form-buttons is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-primary has-background-primary-dark">Add New Review</button>
                            </div>
                            <div class="control">
                                <button type="reset" class="button is-dark">Reset Form</button>
                            </div>
                            <div class="control">
                                <a class="button is-light" href="/reviews">Cancel</a>
                            </div>
                        </div>
                    </form>
                </article> <br><br><br><br><br><br><br><br>
            </div>
        </div>
    </main>
</body>
</html>
