<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {page: 'Add Seller Review'}) %>

<body class="has-navbar-fixed-top has-background-grey-darker">

    <%- include ('../partials/nav.ejs') %>

    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <h2 class="title is-2 has-text-light">Add a Seller Review</h2>
        </div>
    </section>
    <main class="container extra-padding-bottom">
        <div class="columns is-multiline is-centered">
            <div class="column is-three-fifths">
                <article class="card home-card has-background-grey-dark">
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <h3 class="title is-3 has-text-light">New Review Form</h3>
                            <div>
<form action="saveData" method="post"></form>
<pre>
Rating             : <input type="number" min=1 max=5  placeholder="Rating" <br>

Title              : <input type="number" placeholder="Title" <br>

Content            : <input type="number" placeholder="Leave Review Here" <br>
                                
ReviewedSellerUser : <input type="number" placeholder="ReviewedSellerUser" <br>
                     
ReviewingBuyerUser : <input type="number" placeholder="ReviewingBuyerUser" <br>
                                
<input type="submit" value="Submit Review">
</pre>
 </form>
                            </div>
                        </div>
                    </div>
                </article>
                <br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </main>
</body>
</html>
