body {
    padding-bottom: 120px;
}

.hero {
    margin-bottom: 50px;
}

.hero-body {
    padding: 60px;
}

.home-card {
    padding-top: 15px;
    margin-bottom: 25px;
    border-radius: 30px;
}

.img-card-figure {
    margin: 20px 25px 30px 25px;
}

.product-list-img {
    border-radius: 0.25rem;
    max-width: 180px;
}

.product-show-img {
    border-radius: 0.25rem;
    max-width: 280px;
}

.user-list-img {
    border-radius: 0.25rem;
    max-width: 180px;
}

.user-show-img {
    border-radius: 0.25rem;
    max-width: 280px;
}

.form-card {
    padding: 25px 25px 10px 25px;
}

.form-buttons {
    margin-top: 30px;
}

.control {
    margin-bottom: 20px;
}

.review-index-control {
    margin-top: 5px;
    margin-bottom: 0;
}

.extra-padding-bottom {
    padding-bottom: 250px;
}

.light-link-text {
    color: #abf;
}

.light-link-text:hover {
    color: #bcf;
}

.review-card {
    padding: 16px 30px 16px 30px;
}
